<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--  Temp Stylesheet   -->
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Columbus Libraries Catalog Search</title>

  </head>
  <body>
    <div class="container">
        <h1 class="text-center text=primary mt-3 mb-3"> CML Catalog Search</h1>

        <input type="text" id="search" class="form-control form-control-lg" />
        <span id="search-result"></span>
    </div>
  </body>
</html>


<script>

function load_data(query = ''){
  fetch('/get_data?search_query='+query+'').then(function(response){
    return response.json();
  }).then(function(responseData){
    var html = '<ul class="list-group">';

    if(responseData.length > 0){
      for(var count = 0; count < responseData.length; count++){
        var regular_expression = new RegExp('('+query+')', 'gi');

        html += '<a href="#" class="list-group-item list-group-item-action">'+responseData[count].media_title.replace(regular_expression, '<span class="text-primary fw-bold">$1</span>')+'</a>';
      }
    }

    html += '<ul>';

    document.getElementById('search_result').innerHTML = html; 

  });
}

var search_element = document.getElementById('search');

search_element.onkeyup = function(){
  var query = search_element.value;

  load_data(query);
}

</script>
